[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

certifi = "==2017.4.17"
chardet = "==3.0.4"
idna = "==2.5"
requests = "*"
"urllib3" = "==1.21.1"
pandas = "*"
tablib = "*"


[dev-packages]

pytest = "*"
pylint = "*"


[requires]

python_version = "3.6"
